.form {
    margin: 0 auto;
    width: 400px;
}

.content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-content: center;
}

.textinput { /* this will later be rendered in django */
    margin-bottom: 30px;
    margin-top: 30px;
}

.title {
    margin-left: 36%;
}

.button-submit {
    margin-left: 40%;
    margin-bottom: 5%;
}

.helper-link {
    margin-left: 25%;
}

.title-reg {
    margin-left: 31%;
}

.button-submit-reg {
    margin-left: 37%;
    margin-bottom: 5%;
}

.helper-link-reg {
    margin-left: 25%;
}