.photo {
    display: flex;
    background-color: rgba(156, 154, 153, 0.65);;
    width: 200px;
    height: 238px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 6px;
}

.info {
    width: 100%;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

.photo:hover {
    background-color: rgb(103, 101, 101);
}

.journal-form {
    text-align: right;
}

#photo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 10% 0;
    /*align-items: center;*/
}

#id_body {
    height: 100px;
}

.journal {
    /*background-color: silver;*/
    margin-top: 20px;
    margin-left: 30px;
}

.home {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
}