{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content">
        <h1 class="title-reg">Register</h1>
        <div class="form">
            <form method="post" class="form">{% csrf_token %}
                {{ form|crispy}}
                <button type="submit" class="button-submit-reg btn btn-primary">Register</button>
            </form>
        </div>
        <a href="{% url 'login' %}" class="helper-link-reg">Already have an account?</a>
    </div>
{% endblock %}